@font-face {
    font-family:'DancingScript' ;
    src: url(../font/DancingScript-VariableFont_wght.ttf);
}
@font-face {
    font-family:'Open Sans' ;
    src: url(../font/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family:'Montserrat' ;
    src: url(../font/Montserrat-VariableFont_wght.ttf);
}